<main id="content" role="main">
    <div class="container-fluid wrap">
        <div class="page-header">
            <h1><i class="fa fa-key"></i> Credentials</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3>Active credentials&nbsp;
                            {% if users %}
                                <a class="btn btn-default pull-right" id="credentials-modal-toggle"><i class="fa fa-plus"></i></a>
                            {% else %}
                                <a class="btn btn-default pull-right" data-remodal-target="no-users-modal"><i class="fa fa-plus"></i></a>
                            {% endif %}
                        </h3>
                    </div>
                    <img src="{{ loading_url }}" width="50px" height="50px" class="loading" style="display: none">
                    <div class="panel-body" id="credentials">
                        <table class="table table-bordered table-responsive">
                            <tr>
                                <th>Title</th>
                                <th>Username</th>
                                <th>Access Route</th>
                                <th class="text-center">Expiration</th>
                                <th class="text-center">Actions</th>
                            </tr>
                            <tbody id="credentials-body">
                                {% if credentials %}
                                    {% for credential in credentials %}
                                        <tr>
                                            <td class="col-sm-1">
                                                {{ credential.title }}
                                            </td>
                                            <td class="col-sm-2">
                                                {{ credential.username }}
                                            </td>
                                            <td>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" name="url" id="url{{ credential.id }}" value="{{ domain }}/SecureCredentials/{{ credential.id }}/{{ credential.token }}">
                                                    <span class="input-group-addon">
                                                        <i class="btn fa fa-link" data-clipboard-target="#url{{ credential.id }}" data-toggle="tooltip" data-placement="top" title="Click to copy link"></i>
                                                    </span>
                                                </div>
                                            </td>
                                            <td class="col-sm-3 text-center">
                                                <span class="momentMe">{{ credential.expiration }}</span>
                                            </td>
                                            <td class="text-center col-sm-2">
                                                <a class="btn btn-primary btn-xs edit-modal-toggle" href="/SecureCredentials/credentialEdit/{{credential.id}}/get"><i class="fa fa-pencil" data-toggle="tooltip" data-placement="top" title="edit"></i></a>
                                                <a class="btn btn-danger btn-xs delete-modal-toggle" href="/SecureCredentials/credentialDelete/{{credential.id}}/get"><i class="fa fa-times" data-toggle="tooltip" data-placement="top" title="delete"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="4">No credentials added</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="remodal" data-remodal-id="remodal-modal" id="credentials-modal">
  <button data-remodal-action="close" class="remodal-close"></button>
  <h1><i class="fa fa-key"></i></h1>
  <form method="post" id="credentials-form" class="needs-validation">
      <div id="modal-content">
      </div>
      <br>
      <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
      <button data-remodal-action="confirm" class="remodal-confirm">OK</button>
  </form>
</div>

<div class="remodal" data-remodal-id="no-users-modal" id="no-users-modal">
  <button data-remodal-action="close" class="remodal-close"></button>
  <h1><i class="fa fa-exclamation-circle text-danger"></i></h1>
      <div id="modal-content">
          <h3 class="text-danger">You must add users first.</h3>
      </div>
      <br>
      <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
</div>