<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
            <link href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css" rel="stylesheet" />
            <link rel="stylesheet" href="{{ SecureCredentials.helper('assetUrl', '/onepage/css/styles.css') }}" />
            <link rel="stylesheet" href="{{ SecureCredentials.helper('assetUrl', '/css/style.css') }}" />
        {% endblock %}
    </head>
    <body>
        {% block content %}
            <section class="container-fluid" id="section1">
                <div class="v-center">
                    <h2 class="text-center">{{ credential.title }}</h2>
                    <div class="row text-center">
                        <div class="col-sm-6 col-sm-offset-3">
                            This record will <span class="text-danger">self-destruct</span> on
                            <h4><span class="momentMe text-primary">{{ credential.expiration }}</span></h4>
                        </div>
                        <div class="col-sm-6 col-sm-offset-3" id="clock"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <label for="username"><h2>Username</h2></label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input type="text" class="form-control" name="username" id="username" value="{{ credential.username }}">
                                <span class="input-group-addon">
                                    <i class="btn fa fa-copy" data-clipboard-target="#username"  data-toggle="tooltip" data-placement="top" title="Click to copy username"></i>
                                </span>
                            </div>
                            <label for="password"><h2>Password</h2></label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-asterisk"></i></span>
                                <input type="text" class="form-control" name="password" id="password" value="{{ credential.getSensitive() }}">
                                <span class="input-group-addon">
                                    <i class="btn fa fa-copy" data-clipboard-target="#password" data-toggle="tooltip" data-placement="top" title="Click to copy password"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endblock %}
        {% block scripts %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
            <script src="{{ SecureCredentials.helper('assetUrl', '/onepage/js/scripts.js') }}"></script>
            <script src="{{ SecureCredentials.helper('assetUrl', '/bower_components/clipboard/dist/clipboard.min.js') }}"></script>
            <script src="{{ SecureCredentials.helper('assetUrl', '/bower_components/moment/min/moment.min.js') }}"></script>
            <script src="{{ SecureCredentials.helper('assetUrl', '/bower_components/moment/min/moment-with-locales.js') }}"></script>
            <script src="{{ SecureCredentials.helper('assetUrl', '/bower_components/jquery.countdown/dist/jquery.countdown.min.js') }}"></script>
        {% endblock %}
    </body>

    <script type="text/javascript">
        jQuery(document).ready(function() {
            new Clipboard('.btn');
            $('[data-toggle="tooltip"]').tooltip();

            $('.momentMe').each(function(index, element) {
                var expiration = $(element).text();
                expiration = moment.unix(parseInt(expiration));
                $(element).text(expiration.format('LLL'));
            });

            var expiration = moment.unix({{ credential.expiration }}).format('YYYY-MM-DD HH:mm:ss');

            $('#clock').countdown(expiration).on('update.countdown', function(event) {
                var format = '%H hours %M minutes %S seconds remaining';
                if(event.offset.days > 0) {
                    format = '%-d day%!d ' + format;
                }
                if(event.offset.weeks > 0) {
                    format = '%-w week%!w ' + format;
                }
                if('%M' < 5) {
                    $(this).addClass('text-danger');
                }
                $(this).html(event.strftime(format));
            })
            .on('finish.countdown', function(event) {
               $(this).html('').parent().addClass('disabled');
            });
        });
    </script>

</html>