<div class="row">
  <div class="col-md-12">
      <input type="hidden" name="update" id="update" value="{{ credential.id }}">
      <div class="form-group">
        <label for="title">Title</label><br />
        <input type="text" name="title" id="title" class="form-control" value="{{ credential.title }}" data-fv-notempty="true" data-fv-notempty-message="Woah there! This is required.">
      </div>
      <div class="form-group">
        <label for="first_name">Username</label><br />
        <input type="text" name="username" id="username" class="form-control" value="{{ credential.username }}" data-fv-notempty="true" data-fv-notempty-message="Woah there! This is required.">
      </div>
      <div class="form-group">
        <label for="password">Password</label><br />
        <input type="password" name="password" id="strong-password" class="form-control" value="{{ credential.getSensitive() }}" data-fv-notempty="true" data-fv-notempty-message="Woah there! This is required.">
      </div>
      <div class="form-group">
        <label for="email">Users with Access</label><br />
        <select class="select2 form-control" name="users[]" id="users" multiple="multiple"  data-fv-notempty="true" data-fv-notempty-message="Woah there! This is required.">
          {% for user in users %}
              <option value="{{ user.id }}" {% for sUser in credential.users %} {% if sUser.id == user.id %}selected{% endif %} {% endfor %}>{{ user.first_name }} {{ user.last_name }}</option>
          {% endfor %}
        </select>
      </div>
      <h4 class="text-center">Currently expires on: <span class="text-primary" id="clock">{{ credential.expiration }}</span></h4>
      
      <div class="form-group">
        <label for="buttons">Expire After</label><br />
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-default" {% if credential.expiration == 1 %}active{% endif %}>
            <input type="radio" name="expiration" class="form-control" id="1hr" value="1" {% if credential.expiration == 1 %}checked{% endif %} data-fv-notempty="true" data-fv-notempty-message="Woah there! This is required."> 1 hr
          </label>
          <label class="btn btn-default" {% if credential.expiration == 12 %}active{% endif %}>
            <input type="radio" name="expiration" class="form-control" id="12hr" value="12" {% if credential.expiration == 12 %}checked{% endif %} data-fv-notempty="true" data-fv-notempty-message="Woah there! This is required."> 12 hrs
          </label>
          <label class="btn btn-default" {% if credential.expiration == 24 %}active{% endif %}>
            <input type="radio" name="expiration" class="form-control" id="1day" value="24" {% if credential.expiration == 24 %}checked{% endif %} data-fv-notempty="true" data-fv-notempty-message="Woah there! This is required."> 1 day
          </label>
          <label class="btn btn-default" {% if credential.expiration == 168 %}active{% endif %}>
            <input type="radio" name="expiration" class="form-control" id="1week" value="168" {% if credential.expiration == 168 %}checked{% endif %} data-fv-notempty="true" data-fv-notempty-message="Woah there! This is required."> 1 week
          </label>
        </div>
      </div>
  </div>
</div>